* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: rgb(64, 70, 85);
}

@font-face {
    font-family: blockFont;
    src: url("/static/fonts/Blockletter.otf");
}

@font-face {
    font-family: popW;
    src: url("/static/fonts/popW.ttf");
}

@font-face {
    font-family: futurist;
    src: url("/static/fonts/futurist-bold.otf");
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 239, 236);
}

main {
    overflow: hidden;
    position: relative;
    width: 60em;
    height: 550px;
    background: linear-gradient(rgb(11, 31, 50), rgb(17, 47, 75));
    box-shadow: 7px 7px black;
}

.formContainers {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 36em;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition: -webkit-transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition: transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition: transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85), -webkit-transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 3vh;
}

button {
    --button_radius: 0.75em;
    --button_color: rgb(233, 209, 173);
    --button_outline_color: #000000;
    font-size: 17px;
    font-family: "futurist", sans-serif;
    font-weight: bolder;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 5.5em;
}

#errors {
    display: flex;
    color: rgb(137, 60, 60);
    font-family: "popW";
    font-size: 0.85em;
    -webkit-transition-duration: 1s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition-duration: 1s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.5em 1em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    transform: translateY(-0.33em);
}

button:active .button_top {
    transform: translateY(0);
}

.switchBtn {
    color: rgb(233, 209, 173);
    font-family: "popW";
    font-size: 0.85em;
    -webkit-transition-duration: 1s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition-duration: 1s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    cursor: pointer;
}

.switchBtn:hover {
    text-decoration: underline 2px;
}

.sub-container {
    overflow: hidden;
    position: absolute;
    left: 36em;
    top: 0;
    width: 60em;
    height: 100%;
    padding-left: 24em;
    background: linear-gradient(rgb(11, 31, 50), rgb(17, 47, 75));

    -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition: -webkit-transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition: transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}

main.switch .sub-container {
    -webkit-transform: translate3d(-36em, 0, 0);
    transform: translate3d(-36em 0, 0);
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 24em;
    height: 100%;
}

.img:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 60em;
    height: 100%;
    background-image: url(/static/images/authBg.png);
    background-size: cover;
    background-position: left top;
    transition: -webkit-transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition: transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85), -webkit-transform 1.2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}

.img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

main.switch .img:before {
    -webkit-transform: translate3d(36em, 0, 0);
    transform: translate3d(36em, 0, 0);
}

.sign-in {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

main.switch .sign-in {
    -webkit-transition-timing-function: cubic-bezier(0.85, 0.15, 0.15, 0.85);
    transition-timing-function: cubic-bezier(0.85, 0.15, 0.15, 0.85);
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(36em, 0, 0);
    transform: translate3d(36em, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-60em, 0, 0);
    transform: translate3d(-60em, 0, 0);
}

main.switch .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.heading {
    height: 25%;
    font-family: "popW", sans-serif;
    font-size: 3.25em;
    color: rgb(233, 209, 173);
}

.forgotPassword {
    display: flex;
    color: rgb(233, 209, 173);
    font-family: "popW";
    font-size: 0.85em;
    margin-top: -0.75em;
    cursor: pointer;
}

.forgotPassword:hover {
    text-decoration: underline 2px;
}

.goBack:focus,
.goBack {
    position: absolute;
    top: 2vw;
    left: 2vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "blockFont", sans-serif;
    font-size: 1.7vw;
    color: rgb(233, 209, 173);
    outline: none;
}

/* SVG arrows */
.arrowContainer {
    transform: rotate(180deg);
    width: 1.8vw;
    margin-right: 0.5em;
    transition: 0.5s;
}

path {
    fill: rgb(233, 209, 173);
}
path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.goBack:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.goBack:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.goBack:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG color animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: rgb(233, 209, 173);
    }
    100% {
        fill: white;
    }
}

/* Form */

input {
    appearance: none;
    border: none;
    outline: none;
    height: 1.5em;
    border-bottom: 2px solid rgb(119, 119, 114);
    padding: 0.25em 0em 0.25em 0.25em;
    font-size: 1em;
    color: rgb(233, 209, 173);
    background-color: transparent;
    font-family: sans-serif;
    font-weight: bolder;
    width: 12.5em;
}

input:focus {
    border-bottom: 2px solid rgb(233, 209, 173);
}

.input-container {
    position: relative;
    width: 15em;
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding-right: 1.25em;
}

.input-container.with-eye input {
    padding-right: 1.25em;
}

.input-container.with-eye #eye {
    transform: translateX(0);
    width: 20px;
}

.input-icons {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 0.85em;
    transition: 0.3s;
    transform: translateX(135%);
}

.input-icons.hide {
    opacity: 0;
}

#closeIcon {
    display: none;
}

/* For screen under 500px */
@media only screen and (max-width: 500px) {
    #closeIcon {
        display: block;
    }

    .input-icons {
        transform: none;
    }

    .input-container.with-eye #eye {
        transform: translateX(130%);
    }
}
